@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah:400,700');
body {
  background-color: #b7e2ff;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 1.4em;
  color: dimgrey;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  transition: all 3s;
  margin-top: 0;
}
header h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
header object {
  width: 50%;
  height: auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  background-color: #b7e2ff;
  border-bottom: 1px solid wheat;
  transition: all 1s ease-in-out;
}
nav a {
  width: 25%;
  text-align: center;
  text-decoration: none;
  font-size: 1.7em;
  color: darkslateblue;
}
nav img {
  width: 20%;
}
nav a:hover {
  font-weight: bold;
  color: darkred;
  text-shadow: 3px 3px #a7aeb6;
}
nav#main-nav {
  opacity: 1;
}
nav#play-nav {
  display: none;
  opacity: 0;
}
nav#play-nav#main_page {
  display: block;
}
section {
  text-align: center;
}
main#main {
  text-align: center;
}
main#main section {
  margin-bottom: 10vh;
  padding-top: 80px;
}
main#main section#play form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: auto;
}
main#main section#play form > * {
  margin: 1vh 0;
}
main#main section#play form div {
  display: none;
}
main#main section#play form input {
  text-align: center;
  height: 3em;
  border-radius: 25px;
  border: 2px solid antiquewhite;
  width: 50%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
main#main section#play form input:focus {
  width: 100%;
  border-radius: 25px;
  border-color: darkslateblue;
}
main#main section#play form button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  border-radius: 50%;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
main#main section#play form button span {
  display: block;
  margin-bottom: 0;
  color: cornflowerblue;
  font-family: 'Gloria Hallelujah', sans-serif;
  transition: all 0.2s;
}
main#main section#play form button:hover {
  background-image: radial-gradient(#6d9cd0, #9fd1ff, #b7e2ff, #b7e2ff);
}
main#main section#play form button:hover span {
  transform: rotate(-20deg);
  color: darkslateblue;
}
main#main section#play form button #play_button {
  width: auto;
  height: auto;
}
main#main section#howtoplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
}
main#main section#howtoplay article {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}
main#main section#howtoplay article > div {
  width: 200px;
}
main#main section#howtoplay article > div:hover {
  transform: scale(1.1);
}
main#main section#howtoplay article > div:hover img {
  -webkit-animation: moving 1s linear infinite;
  -o-animation: moving 1s linear infinite;
  animation: moving 1s linear infinite;
}
@keyframes moving {
  0%,
  100% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  66% {
    transform: scale(1.15);
  }
}
main#main section#howtoplay article h4 {
  width: 100%;
}
main#main section#main_score_board {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#main section#main_score_board table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}
main#main section#main_score_board table td {
  padding: 10px;
  width: 33%;
}
main#main section#main_score_board table thead {
  color: #3f4698;
  background-color: antiquewhite;
}
main#main section#main_score_board table tr {
  border-bottom: 1.5px solid wheat;
}
main#main section#main_score_board table tr:nth-child(even) {
  background-color: #afd8f0;
}
main#main section#main_score_board table tbody tr:hover {
  background-color: #a0c6e8;
  color: darkslateblue;
  transform: scale(1.05);
}
main#game {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
  display: none;
}
hr {
  width: 100%;
  color: wheat;
}
#modal {
  color: wheat;
  text-align: center;
  font-size: 1.5em;
  display: none;
  /* Hidden by default */
  flex-direction: column;
  position: absolute;
  /* Stay in place */
  left: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.63);
  /* Black w/ opacity */
}
#modal p {
  margin: 12px 0;
}
#modal #pause_modal {
  display: none;
}
#modal #endgame_modal {
  display: none;
}
#modal .inner_modal {
  flex-direction: column;
  align-self: center;
  margin: auto;
}
#modal .inner_modal img {
  align-self: center;
}
#bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  color: wheat;
  background-color: #434750;
}
#bottom p {
  margin: 0px 10px;
  font-size: 1.3em;
}
#score_board {
  display: flex;
  flex-direction: row;
}
#offline_indicator {
  display: none;
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 0.6em;
  border: red solid 1px;
  background-color: #ffcbdb;
  opacity: 0.5;
  color: black;
  transition: all 0.5s;
  border-radius: 5px;
}
#offline_indicator:hover {
  opacity: 1;
}
#offline_indicator p {
  margin: 1px 3px;
}
#scrollUp_button {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  transition: all 0.3s;
}
#scrollUp_button:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#audio_control {
  width: 32px;
  position: fixed;
  bottom: 1%;
  margin-left: 50%;
  transition: all 0.3s;
}
#audio_control:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
@media all and (max-width: 750px) {
  nav a {
    font-size: 1em;
  }
}
@media all and (max-width: 460px) {
  header img {
    width: 75%;
    height: auto;
  }
  nav a {
    font-size: 0.8em;
  }
}
