@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah:400,700');

@shadowColor: #a7aeb6;
@backgroundColor: #b7e2ff;

body {
  background-color: @backgroundColor;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 1.4em;
  color: dimgrey;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  transition: all 3s;
  margin-top: 0;

  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  object {
    width: 50%;
    height: auto;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  background-color: @backgroundColor;
  border-bottom: 1px solid wheat;
  transition: all 1s ease-in-out;

  a {
    width: 25%;
    text-align: center;
    text-decoration: none;
    font-size: 1.7em;
    color: darkslateblue;
  }

  img{
    width: 20%;
  }

  a:hover {
    font-weight: bold;
    color: darkred;
    text-shadow: 3px 3px @shadowColor;
  }

  &#main-nav {
    opacity: 1;
  }

  &#play-nav {
    display: none;
    opacity: 0;

    &#main_page {
      display: block;
    }
  }
}

section {
  text-align: center;
}

main#main {
  text-align: center;

  section {
    margin-bottom: 10vh;
    padding-top: 80px;
  }

  section#play {

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      margin: auto;

      & > * {
        margin: 1vh 0;
      }

      div {
        display: none;
      }

      input {
        text-align: center;
        height: 3em;
        border-radius: 25px;
        border: 2px solid antiquewhite;
        width: 50%;

        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;

        &:focus {
          width: 100%;
          border-radius: 25px;
          border-color: darkslateblue;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 2em;
        border-radius: 50%;

        -webkit-transition: background 0.4s ease-in-out;
        transition: background 0.4s ease-in-out;

        span {
          display: block;
          margin-bottom: 0;
          color: cornflowerblue;
          font-family: 'Gloria Hallelujah', sans-serif;
          transition: all 0.2s;
        }

        &:hover {
          background-image: radial-gradient(#6d9cd0, #9fd1ff, #b7e2ff, @backgroundColor);

          span {
            transform: rotate(-20deg);
            color: darkslateblue;
          }
        }

        #play_button {
          width: auto;
          height: auto;
        }
      }

    }
  }

  section#howtoplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;

    article {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 10px;

      & > div {
        width: 200px;

        &:hover {
          transform: scale(1.1);

          img {
            -webkit-animation: moving 1s linear infinite;
            -o-animation: moving 1s linear infinite;
            animation: moving 1s linear infinite;

            @keyframes moving {
              0%, 100% {
                transform: scale(1);
              }
              33% {
                transform: scale(0.85)
              }
              66% {
                transform: scale(1.15)
              }
            }
          }
        }
      }

      h4 {
        width: 100%;
      }
    }

  }

  section#main_score_board {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
      text-align: center;
      border-collapse: collapse;
      width: 100%;
      max-width: 700px;

      td {
        padding: 10px;
        width: 33%;
      }

      thead {
        color: #3f4698;
        background-color: antiquewhite;

      }

      tr {
        border-bottom: 1.5px solid wheat;

        &:nth-child(even) {
          background-color: #afd8f0
        }
      }

      tbody tr:hover {
        background-color: #a0c6e8;
        color: darkslateblue;
        transform: scale(1.05);
      }
    }
  }
}

//game
main#game {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
  display: none;
}

hr {
  width: 100%;
  color: wheat;
}

#modal {
  color: wheat;
  text-align: center;
  font-size: 1.5em;
  display: none; /* Hidden by default */
  flex-direction: column;
  position: absolute; /* Stay in place */
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.63); /* Black w/ opacity */

  p {
    margin: 12px 0;
  }

  #pause_modal {
    display: none;
  }

  #endgame_modal {
    display: none;
  }

  .inner_modal {
    flex-direction: column;
    align-self: center;
    margin: auto;

    img {
      align-self: center;
    }
  }
}

#bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 60px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  color: wheat;
  background-color: #434750;

  p {
    margin: 0px 10px;
    font-size: 1.3em;
  }
}

#score_board {
  display: flex;
  flex-direction: row;
}

#offline_indicator {
  display: none;
  position: fixed;
  bottom: 5px;
  left: 5px;
  font-size: 0.6em;
  border: red solid 1px;
  background-color: #ffcbdb;
  opacity: 0.5;
  color: black;
  transition: all 0.5s;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }

  p {
    margin: 1px 3px;
  }
}

#scrollUp_button {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  transition: all 0.3s;

  &:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);;
  }
}

#audio_control {
  width: 32px;
  position: fixed;
  bottom: 1%;
  margin-left: 50%;
  transition: all 0.3s;

  &:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);;
  }
}

@media all and (max-width: 750px){
  nav {

    a {
      font-size: 1em;
    }
  }
}


@media all and (max-width: 460px) {

  header {
    img {
      width: 75%;
      height: auto;
    }
  }

  nav {

    a {
      font-size: 0.8em;
    }
  }
}
